{% extends 'base.html.twig' %}

{% block css %}
	<link rel="stylesheet" href={{ asset('build/styles/auth.css') }}>
{% endblock %}

{% block body %}
	<div class="container-fluid p-0 authContainer">
		<div class="p-4 authContent">
			<h1 class="text-center">Login</h1>
			{{ component('authForm', {
				controller: "login",
				formAction: "auth:prevent",
				inputAction: "reset",
				email: "email",
				password: "password",
				emailFeedback: "emailFeedback",
				passwordFeedback: "passwordFeedback",
				loading: "loading",
				btn: "btn",
			}) }}
		</div>
	</div>
{% endblock %}
