// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$transition: 0.8s;

body {
  background-color: white;
  color: black;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}

main {
  min-height: calc(100vh - 5rem);
}

// ---------------------------------------------------Header
header {
  .navbar {
    height: 5rem;
    color: white;

    .container-fluid {
      .navbar-brand img {
        height: auto;
        max-width: 11rem;
      }
    }

    .collapse ul li a {
      font-size: 0.9rem;
      color: white;
    }

    .bi {
      font-size: 1.2rem;
    }

    .navbar-toggler {
      border: none;
      span {
        color: white;
      }
    }
  }
}

// ---------------------------------------------------Footer
footer {
  min-height: 18vh;
  color: white;

  a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
  }

  h5 {
    font-size: 1.1rem;
  }

  .container {
    .copyright {
      font-size: 0.7rem;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

// ---------------------------------------------------Hover links
.links {
  transition: $transition !important;
}

.links:hover {
  cursor: pointer;
  color: grey !important;
}

// ---------------------------------------------------Scrollbar
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}
