<form {{ stimulus_controller( controller) }} {{ stimulus_action(controller, action) }}>
	<div class="mb-3">
		<label for="Email1" lass="form-label">Email address</label>
		<input type="email" class="form-control" id="Email1" required {{ stimulus_target( controller, email) }}>
	</div>
	<div class="mb-3">
		<label for="Password" class="form-label">Password</label>
		<input type="password" class="form-control" id="Password" required {{ stimulus_target( controller, password) }}>
	</div>
	<button type="submit" class="btn btn-dark w-100">Submit</button>
</form>
