<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark px-md-3">
		<div class="container-fluid">
			<a class="navbar-brand pt-0" href="/">
				<img src={{ asset('build/images/Logo.6072e5ac.svg') }} alt="Logo">
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{% if isLoggedIn == false %}
						<li class="nav-item">
							<a class="nav-link links" href="/login">LOGIN</a>
						</li>
						<li class="nav-item">
							<a class="nav-link links" href="/signup">SIGNUP</a>
						</li>
					{% endif %}
					{% if isLoggedIn == true %}
						<li class="nav-item">
							<a class="nav-link links" href="/products/male">MALE</a>
						</li>
						<li class="nav-item">
							<a class="nav-link links" href="/products/female">FEMALE</a>
						</li>
						<li class="nav-item">
							<a class="nav-link links" href="/api/logout">LOGOUT</a>
						</li>
					{% endif %}
				</ul>
				<div class="d-flex">
					<i class="bi bi-search me-3 links"></i>
					<i class="bi bi-star me-3 links"></i>
					<i class="bi bi-bag links" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
						<span class="cartCounter">
							{% if cartItems != "0" %}
								{{ cartItems }}
							{% endif %}
						</span>
					</i>
				</div>
			</div>
		</div>
	</nav>
</header>
