{% extends 'base.html.twig' %}

{% block css %}
	<link rel="stylesheet" href={{ asset('build/styles/auth.css') }}>
{% endblock %}

{% block body %}
	<div class="container-fluid p-0 authContainer">
		<div class="p-4 authContent">
			<h1 class="text-center">Signup</h1>
			{{ component('authForm', {
				controller: "signup",
				action: "greet:prevent",
				email: "email",
				password: "password"
			}) }}
		</div>
	</div>
{% endblock %}
